body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color:#D0F0C0;
    justify-content: space-evenly;
    width: 100%; 
    box-sizing: border-box;
}

 a{
    margin: 0 10px;
    justify-content: space-between;
    color: black;
    text-decoration: none;
}

#infos{
    display: flex;
    justify-content: center;
    align-items: center;
}
#infobox{
    background-color: #9FE2BF;
    width: 400px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.projetos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.projectbox {
    flex: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #B0FFB0;
    width: 400px;
    height: 350px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 5px 5px 10px black;
}


.ftPoke {
    background-image: url(/Portifólio/assests/poke.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    margin-left: 130px ;
    border-radius: 10px;
}

.ftQuiz {
    background-image: url(/Portifólio/assests/quiz.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    margin-left: 130px ;
    border-radius: 10px;
}

.ftSpace {
    background-image: url(/Portifólio/assests/space.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    margin-left: 130px ;
    border-radius: 10px;
}